#controls {
    width: 80px;
    float: left;
  }
     
  #playProgress {
    margin-left: 80px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  #bar {
    height: 20px;
    background-color: green;
    width: 0;
  }