.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.buffered {
    height: 40px;
    position: relative;
    /* background: #555; */
    width: 300px;
  }
  
  #buffered-amount {
    display: block;
    height: 100%;
    /* background-color: #777; */
    background-color: blue;
    width: 0;
  }
  
  .progress {
    margin-top: -20px;
    height: 20px;  
    position: relative;
    width: 300px;
  }
  
  #progress-amount {
    display: block;
    height: 100%;
    background-color: #595;
    width: 0;
  }