{% extends "base.html" %}

{% block content %}
<!-- Function to call as list entry metadata for each audio file is loaded -->
<script>
  // The approach I'm using is to create kendo.data.HierarchicalDataSource object
  // that will render the audio selection list. This object format is used because
  // it can be read by the Kendo PanelBar, which will allow hierarchical selection 
  // of category/subcat1/subcat2/title, to keep things organized on the browser.
  // The above schema will be mandated on all audios, even if they have no subcats.
  // See C:\BackupWork\ProjectsAllBak\KendoTests\PanelBarHierarchicalData\index2.html 
  // for a working example of the object structure with sample audio titles. 
  let audioList = [];
  let categoryName = ""; // Category is mandatory, so no default.
  let subcats1Name = "";
  let subcats2Name = "";

  function getData(id, path, title) {
    let cats = path.split('/');
    if (cats.length == 0 || cats[0] == "." || !id) {
      console.log("No path...");
      return;
    }
    
    // My mandated schema will always be as follows (only 3 levels total supported):
    // category / subcategory1 / subcategory2 / audio titles
    // subcategory1/2 will be created with defaults if not available.
    // E.g. Conan / ComingOfConan / All Titles / audios (no subcategory2, so add All Titles)
    // E.g. Bond / Goldfinger / Happenstance / audio titles (has subcategory2, so use it)

    // If main category does not exist, create it.
    if (cats[0] != categoryName) {
      addCategory(cats[0]);
    }

    // If cats[1] exists and this is the first time we see this name,
    // create it with given name.
    if (cats[1] && cats[1] != subcats1Name) {
      subcats1Name = cats[1];
      addSubcat1(cats[0], subcats1Name);
    }
    // If cats[1] does not exist and this is first time, 
    // give it a default name.
    else if (!cats[1] && subcats1Name != "Category1") {
      subcats1Name = "Category1";
      addSubcat1(cats[0], subcats1Name);
    }
    // Always need to add new subcat if this is a new category.
    else if (categoryName != cats[0]) {
      addSubcat1(cats[0], subcats1Name);
    }

    // If cats[2] exists and this is the first time we see this name,
    // create it with given name.
    if (cats[2] && cats[2] != subcats2Name) {
      subcats2Name = cats[2];
      addSubcat2(cats[0], subcats1Name, subcats2Name);
    }
    // If cats[2] does not exist and this is first time, 
    // give it a default name.
    else if (!cats[2] && subcats2Name != "All Titles") {
      subcats2Name = "All Titles";
      addSubcat2(cats[0], subcats1Name, subcats2Name);
    }
    // Always need to add new subcat if this is a new category.
    else if (categoryName != cats[0]) {
      addSubcat2(cats[0], subcats1Name, subcats2Name);
    }
    // All tests done, OK to update categoryName.
    categoryName = cats[0];

    // Always add title to last cat/subcat1/2
    addTitle(id, title);
  }

  function addCategory(categoryName) {
    audioList.push({});
    audioList[audioList.length-1]["CategoryName"] = categoryName;
    audioList[audioList.length-1]["Subcats1"] = [];
    subcats1Name = "";
  }

  function addSubcat1(categoryName, subcats1Name) {
    let catIndex = audioList.length-1;
    audioList[catIndex]["Subcats1"].push({}); 
    let subcat1Index = audioList[catIndex].Subcats1.length-1;
    audioList[catIndex].Subcats1[subcat1Index]["Subcats1Name"] = subcats1Name;
    audioList[catIndex].Subcats1[subcat1Index]["Subcats2"] = [];
    subcats2Name = "";
  }

  function addSubcat2(categoryName, subcats1Name, subcats2Name) {
    let catIndex = audioList.length-1;
    let subcat1Index = audioList[catIndex].Subcats1.length-1;
    audioList[catIndex].Subcats1[subcat1Index]["Subcats2"].push({});
    let subcat2Index = audioList[catIndex].Subcats1[subcat1Index].Subcats2.length-1;
    audioList[catIndex].Subcats1[subcat1Index].Subcats2[subcat2Index]["Subcats2Name"] = subcats2Name;
    audioList[catIndex].Subcats1[subcat1Index].Subcats2[subcat2Index]["Titles"] = [];
  }

  function addTitle(id, title) {
    let catIndex = audioList.length-1;
    let subcat1Index = audioList[catIndex].Subcats1.length-1;
    let subcat2Index = audioList[catIndex].Subcats1[subcat1Index].Subcats2.length-1;
    if (audioList[catIndex].Subcats1 && audioList[catIndex].Subcats1.length > 0
      && audioList[catIndex].Subcats1[subcat1Index].Subcats2
      && audioList[catIndex].Subcats1[subcat1Index].Subcats2.length > 0) {
      audioList[catIndex].Subcats1[subcat1Index].Subcats2[subcat2Index]["Titles"].push({ "url": id, "Title": title });
    }
  }

  function showPanelBar() {

    var Titles = {
      schema: {
        data: "Titles"
      }
    };

    var Subcats2 = {
      schema: {
        data: "Subcats2",
        model: {
          children: Titles
        }
      }
    };

    var Subcats1 = {
      schema: {
        data: "Subcats1",
        model: {
          children: Subcats2
        }
      }
    };

    var categoriesDataSource = new kendo.data.HierarchicalDataSource({
      data: audioList,
      // sort: { field}
      schema: {
        model: {
          children: Subcats1 // Not sure why Subcats2 not required...
        }
      }
    });

    $("#panelbar-left").kendoPanelBar({
      dataSource: categoriesDataSource,
      dataTextField: ["CategoryName", "Subcats1Name", "Subcats2Name", "Title"]
    });

  }
</script>

<div id="avlist">
  <div class="demo-section k-content">
    <h4><a href="{% url 'audios' %}">Audios & Videos</a></h4>
    <div id="panelbar-left"></div>
  </div>
  <style>
    #avlist {
      text-align: left;
      margin-bottom: 40px;
    }

    .demo-section {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 0 2em;
      min-width: 350px;
    }
  </style>
</div>

<!-- Use 'audios' below instead of 'audio_list' when using non-class (function) views -->
{% if audio_list %}
{% for audio in audio_list %}
  <script>getData("{{audio.get_audio_id}}", "{{audio.path}}", "{{audio.title}}")</script>
{% endfor %}
<script>showPanelBar()</script>
{% else %}
<p>There are no audio files in the library.</p>
{% endif %}
{% endblock %}