{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ audio.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'author-detail' audio.author.pk %}">{{ audio.author }}</a></p> 
  <p><strong>Title:</strong> <a href="">{{ audio.title }}</a></p> 

  <audio id= "my-audio" preload="metadata">
    <source id="audioSource" src=""></source>
  </audio>

  <!-- <audio preload="auto" controls>
    <source id="audioSource" src=""></source>
  </audio> -->

  <!-- <video id="vid" preload="auto" controls>
    <source id="audioSource" src=""></source>
  </video> -->

  <!-- <div class="buffered">
    <span id="buffered-amount"></span>
  </div>

  <div class="progress">
    <span id="progress-amount"></span>
  </div> -->

  <!-- Send the path & title to the JS function, and use it to build url to audio -->
  <!-- Invoke this with trigger so no need for actual button. Use audio control -->
  <button id="buttonId1" type="button" class="btn btn-info" style="display: none;"
    onclick='playMusic("{{audio.pk}}", "{{audio.path}}", "{{ audio.title }}")'>Play Audio</button>

  <!-- custom play and pause buttons -->
<div id="controls">
  <span id="loading">loading</span>
  <button id="play" style="display:none">play</button>
  <button id="pause" style="display:none">pause</button>
  <button id="fwrd" style="display:block; float:left;">++</button>
  <button id="bkwd" style="display:block">--</button>
</div>
<div id="playProgress">
  <div id="bar"></div>
</div>

  <!-- <div>
  <button id="buttonId2" type="button" class="btn btn-info"
    onclick='testSeek(true)'>++</button>

  <button id="buttonId3" type="button" class="btn btn-info"
    onclick='testSeek(false)'>--</button>
  </div>  

  <div>
  <button id="buttonId4" type="button" class="btn btn-info"
    onclick='runDebug()'>Debug</button>

  <div id="debugData"></div>
  <div id="debugData2"></div>
  </div> -->
    
<script>
  // Self-invoke to activate click handler above.
  (function playAudio() {
    console.log("Now playing audio.");
    $("#buttonId1").trigger('click');
  })();

  // This function calls the url that returns the actual audio file.
  // So, browser url 127.0.0.1:8000/audios/audios/# renders this template (with relevant model instance).
  // This model instance is used to get the title, and that is used for the url to get the audio. 
  function playMusic(pk, path, title) {
    // let baseUrl = "http://127.0.0.1:8000/audios/";        // For laptop testing
    let baseUrl = "http://192.168.1.15:8000/audios/";  // For home server
    let source = document.getElementById("audioSource");
    if (!path || path == "None") {
      path = "";
    }
    track = baseUrl + "getaudio/" + path + "/" + title;
    if (track) {
      source.src = track;
    }
    else {
      console.log("No track found");
    }
    setTimeout(() => {
      console.log("In playMusic()");
      // let v = document.getElementsByTagName("video")[0];
      let v = document.getElementById('my-audio');
      v.load();
      v.play();
      // When track is done, play next (via pk).
      v.onended = function () {
        let id = parseInt(pk) + 1;
        // This is a JQ Ajax shorthand GET call.
        $.get(baseUrl + "getPathTitle/" + id, function (data) {
          if (data && data.path && data.title) {
            console.log("Play next track");
            playMusic(id, data.path, data.title);
          }
        });
      }
    }, 100);
  }

  window.onload = function () {
        let myAudio = document.getElementById('my-audio');
        let play = document.getElementById('play');
        let pause = document.getElementById('pause');
        let loading = document.getElementById('loading');
        let bar = document.getElementById('bar');
        let forward = document.getElementById('fwrd');
        let backward = document.getElementById('bkwd');

        function displayControls() {
            loading.style.display = "none";
            play.style.display = "block";
        }

        // check that the media is ready before displaying the controls
        if (myAudio.paused) {
            displayControls();
        } else {
            // not ready yet - wait for canplay event
            myAudio.addEventListener('canplay', function () {
                displayControls();
            });
        }

        play.addEventListener('click', function () {
            myAudio.play();
            play.style.display = "none";
            pause.style.display = "block";
        });

        pause.addEventListener('click', function () {
            myAudio.pause();
            pause.style.display = "none";
            play.style.display = "block";
        });

        // display progress

        myAudio.addEventListener('timeupdate', function () {
            //sets the percentage
            bar.style.width = parseInt(((myAudio.currentTime / myAudio.duration) * 100), 10) + "%";
        });

        // This supports dragging the end of progress bar to change playhead.
        let progress = document.getElementById('playProgress');
        progress.addEventListener('click', function (e) {

            // calculate the normalized position clicked
            let clickPosition = (e.pageX - this.offsetLeft) / this.offsetWidth;
            let clickTime = clickPosition * myAudio.duration;

            // move the playhead to the correct position
            myAudio.currentTime = clickTime;
        });

        forward.addEventListener('click', function (e) {
            myAudio.pause();
            myAudio.currentTime += 30;
            myAudio.play();
        });

        backward.addEventListener('click', function (e) {
            myAudio.pause();
            myAudio.currentTime -= 30;
            myAudio.play();
        });
    }

  // function testSeek(isFwd) {
  //   console.log("In testSeek()");
  //   let inc = 30;
  //   var v = document.getElementsByTagName("video")[0];
  //   console.log("currentTime = " + v.currentTime);
  //   let data = $("#debugData");
  //   data.html("In Test Seek. currentTime = " + v.currentTime + "<br>");
  //   let timeRangesObject = v.seekable;
  //   let timeRanges = [];
  //   for (let count = 0; count < timeRangesObject.length; count ++) {
  //     timeRanges.push([timeRangesObject.start(count), timeRangesObject.end(count)]);
  //     data.append("start = " + timeRanges[count][0] + "; end = " + timeRanges[count][1] + "<br>");
  //   }    
  //   let start = v.seekable.start(0);
  //   let end = v.seekable.end(0.99);
  //   // ToDo: Add is not running.
  //   if (isFwd) {
  //     if (v.currentTime < end - inc) {
  //       v.pause();
  //       v.currentTime += 30; // Forward 1 minute
  //       data.append("Added 30. currentTime = " + v.currentTime + "<br>");
  //       v.play();
  //     }
  //   }
  //   // Subtract runs if time > 60.
  //   else {
  //     if (v.currentTime > start + inc) {
  //       v.pause();
  //       v.currentTime -= 30; // Backward 1 minute
  //       data.append("Subtracted 30. currentTime = " + v.currentTime + "<br>");
  //       v.play();
  //     }
  //   }
  //     // data.append("start = " + start + "; end = " + end + "<br>");
  //     data.append("duration = " + v.duration + "<br>");
  //     // data.append("currentTime = " + v.currentTime + "; duration = " + v.duration + "<br>");
  // }

  // //ok window.onload = function () {
  // function runDebug() {

  //   //var myAudio = document.getElementById('my-audio');
  //   let myAudio = document.getElementsByTagName("video")[0];
  //   let data2 = $("#debugData2");
  //   data2.html("<br>");
  //   myAudio.addEventListener('progress', function () {
  //     let duration = myAudio.duration;
  //     data2.append("duration = " + duration + "<br>");
  //     data2.append("buffered length = " + myAudio.buffered.length + "<br>");
  //     if (duration > 0) {
  //       for (var i = 0; i < myAudio.buffered.length; i++) {
  //         if (myAudio.buffered.start(myAudio.buffered.length - 1 - i) < myAudio.currentTime) {
  //           document.getElementById("buffered-amount").style.width = (myAudio.buffered.end(myAudio.buffered.length - 1 - i) / duration) * 100 + "%";
  //           data2.append("buffered amount = " + (myAudio.buffered.end(myAudio.buffered.length - 1 - i) / duration) * 100 + "%<br>");
  //           break;
  //         }
  //       }
  //     }
  //   });

  //   myAudio.addEventListener('timeupdate', function () {
  //     let duration = myAudio.duration;
  //     console.log("timeupdate duration = " + myAudio.duration);
  //     if (duration > 0) {
  //       document.getElementById('progress-amount').style.width = ((myAudio.currentTime / duration) * 100) + "%";
  //       //ok data2.append("progress amount = " + ((myAudio.currentTime / duration) * 100) + "%");
  //     }
  //   });
  //}

</script>

{% endblock %}

